
.title {
    font-family: Helvetica;
    font-size: 3em;
    font-kerning: 10;
    text-align:justify;
    color: white;
    background: grey;
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

span{
  background-color:grey;
  width:100%;
  height:1em;
  display:inline-block;
}
/*
.bio {
    text-align: center;
    font-family: Helvetica;
    font-size: large;
    background: grey;
    color: white;
    padding-bottom: 20 px;
}
    */

#container {
    column-count: 3;      /* number of columns */
    column-gap: 0px;
    background: grey;
    
    font-family: Helvetica;
}

/* Mobile view */
@media (max-width: 768px) {
  .title {
    text-align:center;
    font-size: xx-large;
    padding-left: 0%;
    padding-right: 0%;
  }
  #container {
    column-count: 2;
    column-gap: 0px;
    background: grey;
    font-family: Helvetica;
  }

  .overlay {
    font-size:x-small;
    padding: 0px;
  }
}
.item {
    break-inside: avoid;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    background: grey;
    padding: 0px;
}

.item img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  height: 25%;                 /* always bottom quarter */
  background: rgba(0, 0, 0, 1);
  color: white;

  display: flex;               /* center text nicely */
  align-items: center;
  justify-content: center;
  text-align: center;      /* center multi-line text */
  padding: 10px 15px;      /* 👈 space from edges */

  opacity: 0;
  transition: opacity 0.3s ease;
}

.item:hover .overlay {
  opacity: 0.8;
}

.overlay div:hover {
    transform: scale(2);
    z-index: 10;
}